<html>
    <div class = 'footer_arrangement'>
        <div class = 'icones'>
            <a href="https://www.facebook.com/MagritteGallery/"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://www.linkedin.com/company/magritte-gallery/about/"></a><i class="fa-brands fa-linkedin-in"></i>
            <a href="https://www.instagram.com/magrittegallery/"></a><i class="fa-brands fa-instagram"></i>
            <a href="https://www.pinterest.fr/search/pins/?q=magritte&rs=typed"></a><i class="fa-brands fa-pinterest-p"></i>
        </div>
        
        <div class="footer_nav">    
            <img src="../images/logo/magrittelogocouleurfond.png">
            <a href="#texts">Mon histoire</a>
            <a href="#paintings">Mes oeuvres</a>
            <a href="#form">Me contacter</a>    
        </div>    
        <p>Copyright ©  2024 Design by <a href="https://github.com/assia38">Assia BOUTAFA</a> - <a href = "https://github.com/AxelMlz">Axel MELEZAN</a> - <a href ='https://github.com/Kuriiios'>Cyril LECONTE</a></p> 
    </div>
   
</html>