<form action="" method="post">
    <div class="form email">
        <label for="name">E-mail : </label>
        <textarea type="text" name="name" placeholder="jacques.wergifosse@mail.be"></textarea>
    </div>

    <div class="form message">
        <label for="message">Entre ton message :</label>
        <textarea type="text" name="message" placeholder="Cher petit, cher grand,
J'ai reçu avec une rapidité inusitée ta correspondance, quelle débauche cette sacrée exposition nous fait passer dans le domaine épistolier ! Pour résumer donc une fois pour toutes : je te verrai à Liège samedi à la brune..."></textarea>
    </div>

    <div>
        <input class="btn" type="submit" value="Envoyer">
    </div>
</form>