<form action="" method="post">

    <label for = "name">E-mail :</label>
    <textarea type = "text" name="name">jacques.wergifosse@mail.be</textarea>

    <label for = "message">Entre ton message :</label>
    <textarea type = "text" name="message"> 
        Cher petit, cher grand,
        J'ai reçu avec une rapidité inusitée ta correspondance, quelle
         débauche cette sacrée exposition nous fait passer dans le domaine
          épistolier ! Pour résumer donc une fois pour toutes : je te verrai
           à Liège samedi à la brune...
    </textarea>

    <input type = "submit" value = "valider">
</form>