<section class="gallery">
    <div class="gallery-item">
        <img src="images/galerie/img1.png" alt="Image 1">
    </div>
    <div class="gallery-item">
        <img src="images/galerie/img2.png" alt="Image 2">
    </div>
    <div class="gallery-item">
        <img src="images/galerie/img3.png" alt="Image 3">
    </div>
    <div class="gallery-item">
        <img src="images/galerie/img4.png" alt="Image 4">
    </div>
    <div class="gallery-item">
        <img src="images/galerie/img5.png" alt="Image 5">
    </div>
    <div class="gallery-item">
        <img src="images/galerie/img6.png" alt="Image 6">
    </div>
    <div class="gallery-item">
        <img src="images/galerie/img7.png" alt="Image 7">
    </div>
    <div class="gallery-item">
        <img src="images/galerie/img8.png" alt="Image 8">
    </div>
    <div class="gallery-item">
        <img src="images/galerie/img9.png" alt="Image 9">
    </div>
    <div class="gallery-item">
        <img src="images/galerie/img10.png" alt="Image 10">
    </div>
    <div class="gallery-item">
        <img src="images/galerie/img11.png" alt="Image 11">
    </div>
    <div class="gallery-item">
        <img src="images/galerie/img12.png" alt="Image 12">
    </div>
    <div class="gallery-item">
        <img src="images/galerie/img13.png" alt="Image 13">
    </div>
    <div class="gallery-item">
        <img src="images/galerie/img14.png" alt="Image 14">
    </div>            
</section>