<h2>Mon Histoire</h2>

<div class='texts__boxes__template'>

    <div id='texts__boxes__1' class='texts__boxes__content'>
        Rene Magritte, l'un des artistes surréalistes les plus emblématiques du 20e siècle, est né le 21
        novembre 1898 à Lessines, en Belgique. Sa passion pour l'art a été évidente dès son plus jeune âge,
        et il a étudié à l'Académie Royale des Beaux-Arts de Bruxelles. Cependant, il a rapidement trouvé
        l'enseignement traditionnel restrictif et a commencé à explorer des styles plus avant-gardistes.
    </div>
    <div id='texts__boxes__2' class='texts__boxes__content'>
        Dans les années 1920, Magritte a déménagé à Paris, où il a été influencé par le mouvement
        surréaliste émergent. Il a travaillé aux côtés d'artistes comme André Breton et Salvador Dalí,
        explorant les profondeurs de l'inconscient à travers son art. Ses œuvres les plus célèbres de cette
        époque incluent 'La Trahison des images' avec sa phrase emblématique 'Ceci n'est pas une pipe'.
    </div>
    <div id='texts__boxes__3' class='texts__boxes__content'>

        Au début de sa carrière, Magritte a travaillé dans une agence publicitaire pour subvenir à ses
        besoins financiers, tout en peignant et en développant son style artistique unique en parallèle. Il
        a expérimenté diverses techniques et a finalement développé son style distinctif de réalisme
        magique, caractérisé par des représentations précises d'objets ordinaires dans des contextes
        insolites.

    </div>
    <div id='texts__boxes__4' class='texts__boxes__content'>
        Malgré sa renommée internationale, Magritte a maintenu une vie privée réservée. Il était connu pour
        être un homme tranquille et introverti, préférant se concentrer sur son travail plutôt que sur la
        célébrité. Il a vécu la majeure partie de sa vie en Belgique avec sa femme, Georgette, qui est
        également devenue une muse pour ses peintures.
    </div>
    <div id='texts__boxes__5' class='texts__boxes__content'>
        À la fin de sa vie, Magritte a continué à produire des œuvres d'une profondeur conceptuelle
        remarquable. Il est décédé le 15 août 1967 à Bruxelles, laissant derrière lui un héritage artistique
        durable qui continue d'inspirer et de fasciner les générations suivantes d'artistes et de
        spectateurs.
    </div>

</div>